<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear empresa</title>
</head>
<body>
   <h1> Creacion de empresa </h1>
   <!-- define url donde se va a enviar la peticcion en th:action -->
   	<form th:action="@{/enterprise/save}" method="post">
	  Address:<br>
	  <input type="text" name="address" value="">
	  <br>
	  CreatedAt:<br>
	  <input type="date" name="createdAt" value="">
	  <br>
	  Document:<br>
	  <input type="text" name="document" value="">
	  <br>
	  Name:<br>
	  <input type="text" name="name" value="">
	  <br>
	  Phone:<br>
	  <input type="text" name="phone" value="">
	  <br>
	  UpdatedAt:<br>
	  <input type="date" name="updatedAt" value="">
	  <br><br>
	  <input type="submit" value="Guardar">
	</form>

   
   
</body>
</html>