<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear empleado</title>
</head>
<body>
   <h1> Creacion de empleado </h1>
   <!-- define url donde se va a enviar la peticcion en th:action -->
   	<form th:action="@{/employees/save}" method="post">
	  Email:<br>
	  <input type="text" name="email" value="">
	  <br>
	  Role:<br>
	  <input type="text" name="role" value="">
	  <br>
	  Imagen:<br>
	  <input type="text" name="imagen" value="">
	  <br>
	  Phone:<br>
	  <input type="text" name="phone" value="">
	  <br>
	  UpdatedAt:<br>
	  <input type="date" name="updatedAt" value="">
	  <br>
	  CreatedAt:<br>
	  <input type="date" name="createdAt" value="">
	  <br>
	  Enterprise:<br>
	  <input type="number" name="enterprise" value="">
	  <br><br>
	  <input type="submit" value="Guardar">
	</form>

   
   
</body>
</html>